* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    border-bottom: 2px solid black;
    width: 100%;
    height: 4em;
}

.title {

}

.loadingDiv {
    visibility: hidden;
    font-size: xx-large;
    color: red;
    animation: spin 2500ms linear infinite;
}

.show {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }   
}

.announcement {
    font-size: xx-large;
    visibility: hidden;
}

.announceWinner {
    font-weight: 900;
    visibility: visible;
    animation: rainbow 5s linear infinite;    
}

@keyframes rainbow {
    100%,
    0% {
        color: red;
    }
    15% {
        color: orange;
    }
    30% {
        color: yellow;
    }
    45% {
        color: green;
    }
    60% {
        color: blue;
    }
    75% {
        color: indigo;
    }
    90% {
        color: violet;
    }    
}

.announceFailed {
    visibility: visible;
    color: red;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 60%;
    width: 40%;
}

.letter {
    display: flex;
    height: 3.5em;
    width: 2.75em;
    justify-content: center;
    align-items: center;
    outline: solid;
    margin: auto;
    margin-top: .75em;
}

.keyboard-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: solid;
    height: 4em;
    width: 3.5em;
}

.target {
    background-color: aqua;
}

.invalid {
    outline-color: red;
    outline-width: medium;
}

.wrong {
    background-color: lightgray;
}

.close {
    background: yellow;
}

.correct {
    background-color: green;
}
