* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border-bottom: 2px solid black;
    width: 100%;
    height: 4rem;
}

.title {

}

.loadingDiv {
    visibility: hidden;
    font-size: xx-large;
    color: red;
}

.announcement {

}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* margin-top: 4em; */
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 60%;
    width: 40%;
    /* outline: solid; */
}

.letter {
    display: flex;
    height: 4rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    outline: solid;
    margin: auto;
    margin-top: 1rem;
}

.keyboard-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: solid;
    height: 4rem;
    width: 4rem;
}

.target {
    background-color: aqua;
}

.invalid {
    outline-color: red;
    outline-width: thick;
}